{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h1>Avis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avi.id }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ avi.objet }}</td>
            </tr>
            <tr>
                <th>Rensignement</th>
                <td>{{ avi.rensignement }}</td>
            </tr>
            <tr>
                <th>NiveauExecution</th>
                <td>{{ avi.niveauExecution }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gestion_avis_conseils_avis_index') }}">back to list</a>

    <a href="{{ path('app_gestion_avis_conseils_avis_edit', {'id': avi.id}) }}">edit</a>

    {{ include('gestion_avis_conseils/avis/_delete_form.html.twig') }}
{% endblock %}
